<%=content_for(:content) do %>
    <%= form_for @search,:url => '',:enforce_utf8=>false, html: {id:'myForm',method:'get'} do |f| %>
        <input type="text" name="q" value="<%= @query %>">
        <input type="submit" value="submit">
        <% end %>

    <% unless @query.nil? %>
    <% @results.each do |result| %>
            <a target='_blank' href="<%= result.url_z %>"><img src="<%= result.url_t %>" alt="<%= result.title %>"> </a>
    <%end %>

        <% if @pages > 1
             i=1
             while i<= @total
        %>
                <a href="/?q=<%= @query %>&page=<%= i %>"><%= i %></a>
        <% i+=1 %>
        <%end %>
    <%end %>
    <%end %>
<% end %>